# Virtual environment
venv/
ENV/
env/
.venv/

# Bytecode Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
db.sqlite3
*.sqlite3

# Media dan file yang diunggah
media/

# Log dan file sementara
*.log
*.pot
*.mo
*.swp
*.swo
*.swn

# Konfigurasi editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
